html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
table,
td,
th {
  vertical-align: middle;
}
/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/* Remove annoying border on linked images. */
a img {
  border: none;
}
.myNavbar {
  width: 100%;
  height: 100%;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapp-company {
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.company {
  margin: auto;
  width: 1140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapp-navBlue {
  width: 100%;
  height: 70px;
  background-color: #2d60d5;
}
.navBlue {
  margin: auto;
  width: 1140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapp-navWhite {
  width: 100%;
  height: 70px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.navWhite {
  margin: auto;
  width: 1140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.callUs {
  width: 240px;
  height: 40px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 5px;
  background-color: #2d60d5;
  border: none;
}
.callUs:hover {
  cursor: pointer;
  background-color: #0e3fb1;
}
.callUs:focus {
  outline: none;
}
.callUsSlide {
  width: 220px;
  height: 60px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px;
  background-color: #2d60d5;
  border: none;
  margin-left: 15px;
}
.callUsSlide:hover {
  cursor: pointer;
  background-color: #0e3fb1;
}
.callUsSlide:focus {
  outline: none;
}
.messengers {
  width: 80px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropbtn {
  background-color: #fff;
  border: none;
  height: 100%;
  width: 150px;
}
.dropbtn-slide {
  background-color: #fff;
  border: none;
  height: 50px;
  width: 150px;
}
.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}
.dropdown-slide {
  position: relative;
  display: inline-block;
  height: 50px;
  margin-left: 20px;
}
.drop-arow {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
  cursor: pointer;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-slide:hover .dropdown-content {
  display: block;
}
.dropdown-slide:hover .dropbtn {
  background-color: #f1f1f1;
  cursor: pointer;
}
.dropdown:hover .drop-arow {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropdown-slide:hover .drop-arow {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.linksNavbar {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.linksNavbar a {
  text-decoration: none;
}
.linksNavbar-items {
  color: #2d60d5;
}
.wrapp-mySlidenav {
  width: 100%;
  height: 100%;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.accordion:focus {
  outline: none;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.panel a {
  margin-top: 10px;
}
.panel a:hover {
  color: #2d60d5;
}
.menu-btn {
  width: 120px;
  height: 40px;
  background-color: #3C6EE2;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu-btn:hover {
  cursor: pointer;
  background-color: #0e3fb1;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 20px 20px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.sidenav a:hover {
  color: #2d60d5;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .accordion {
    display: none;
  }
  .callUsSlide {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .company,
  .navBlue,
  .navWhite {
    width: 960px;
  }
  .accordion {
    display: none;
  }
  .callUsSlide {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapp-navWhite {
    display: none;
  }
  .navWhite {
    display: none;
  }
  .company {
    width: 750px;
  }
  .navBlue {
    width: 750px;
  }
  .callUs {
    display: none;
  }
  .wrapp-mySlidenav {
    margin-top: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapp-navWhite {
    display: none;
  }
  .navWhite {
    display: none;
  }
  .company {
    width: 500px;
  }
  .navBlue {
    width: 500px;
  }
  .callUs {
    display: none;
  }
  .wrapp-mySlidenav {
    margin-top: 50px;
  }
  .work-time {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .wrapp-navWhite {
    display: none;
  }
  .navWhite {
    display: none;
  }
  .company {
    width: 300px;
  }
  .navBlue {
    width: 300px;
  }
  .callUs {
    display: none;
  }
  .wrapp-mySlidenav {
    margin-top: 50px;
  }
  .work-time {
    display: none;
  }
}
.wrapp-slider {
  width: 100%;
  height: 670px;
  padding-top: 30px;
  background-color: #F5F5F5;
}
.slider {
  width: 1140px;
  height: 600px;
  margin: auto;
}
.sl-1 {
  width: 1140px;
  height: 600px;
}
.sl-slide-header {
  width: 1140px !important;
  height: 600px !important;
}
.prev,
.next {
  position: absolute;
}
.next {
  right: 50px;
  margin-top: 300px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e3e3;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.next:hover {
  cursor: pointer;
  opacity: 1;
}
.prev {
  left: 50px;
  margin-top: 300px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e3e3;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.prev:hover {
  cursor: pointer;
  opacity: 1;
}
.one {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.first-slide {
  background: url(/img/slider/first.jpg);
}
.wrapp-product {
  width: 100%;
  height: 100%;
}
.product {
  margin: auto;
  width: 1140px;
  height: 1000px;
}
.product-title {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.furniture {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  height: 500px;
  background-color: #2d60d5;
  border-radius: 3px;
  padding: 30px;
}
.furniture-text {
  padding: 50px;
  padding-top: 10px;
  width: 100%;
  height: 60%;
}
.furniture-img {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.furniture:hover {
  cursor: pointer;
  opacity: 0.8;
}
.dors {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  height: 500px;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 30px;
}
.dors:hover {
  cursor: pointer;
  opacity: 0.8;
}
.uf {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  margin-top: 30px;
  height: 250px;
  background-color: #FFA726;
  border-radius: 3px;
  padding: 30px;
}
.uf:hover {
  cursor: pointer;
  opacity: 0.8;
}
.raskroi {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  height: 220px;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  padding: 30px;
}
.raskroi:hover {
  cursor: pointer;
  opacity: 0.8;
}
.kitchen {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  height: 250px;
  background-color: #C9E1ED;
  margin-top: 30px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kitchen:hover {
  cursor: pointer;
  opacity: 0.8;
}
.kitchen-text {
  width: 23%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}
.kitchen-img {
  width: 77%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.adaptive {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  max-width: 100%;
  height: auto;
}
.adaptive:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.lastworks-wrapp {
  width: 100%;
  height: 100%;
}
.lastworks-wrapp-heading {
  width: 1140px;
  height: 140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lastworks {
  width: 1140px;
  margin: auto;
  height: 100%;
}
.lastworks-link {
  text-decoration: none;
}
.lastworks-link:hover {
  text-decoration: none;
}
.lastworks-page {
  margin: auto;
  width: 246px;
  height: 100px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 0 rgba(212, 219, 225, 0.5);
          box-shadow: 0 0 10px 0 rgba(212, 219, 225, 0.5);
  background-color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lastworks-page:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 15px #D4DBE1;
          box-shadow: 0px 5px 15px #D4DBE1;
}
.lastworks-page-icon {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lastworks-page-text {
  width: 146px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#row-2 {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .lastworks {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .lastworks {
    width: 960px;
  }
  .lastworks-page {
    width: 200px;
  }
  .lastworks-wrapp-heading {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .lastworks {
    width: 750px;
  }
  .lastworks-page {
    width: 200px;
  }
  .lastworks-wrapp-heading {
    width: 750px;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .lastworks {
    width: 500px;
  }
  .lastworks-wrapp-heading {
    width: 500px;
    text-align: center;
  }
  #row-2 {
    margin-top: 0px;
  }
}
@media (max-width: 575.98px) {
  .lastworks {
    width: 300px;
  }
  .lastworks-wrapp-heading {
    width: 300px;
    text-align: center;
  }
  #row-2 {
    margin-top: 0px;
  }
}
.callBack-wrapper {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.callBack {
  width: 850px;
  height: 210px;
}
.callBack-text {
  width: 100%;
  height: 100px;
  text-align: center;
}
.callBack-buttons {
  width: 100%;
  height: 110px;
}
.callBack-send {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.callBack-send-btn {
  width: 250px;
  height: 50px;
  background-color: #2d60d5;
  border-radius: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.callBack-send-btn:hover {
  cursor: pointer;
  background-color: #0e3fb1;
}
.callBack-send-btn:focus {
  outline: none;
}
.callBack-number {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.callBack-number-btn {
  width: 210px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .callBack {
    width: 750px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .callBack {
    width: 500px;
    height: 250px;
  }
  .callBack-text {
    height: 130px;
  }
}
@media (max-width: 575.98px) {
  .callBack-wrapper {
    height: 320px;
  }
  .callBack {
    width: 270px;
    height: 300px;
  }
  .callBack-text {
    height: 150px;
  }
  .callBack-buttons {
    margin-top: 20px;
  }
}
.wrapp-workscheme {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
.wrapp-workscheme-heading {
  width: 1140px;
  height: 140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.workscheme {
  width: 1140px;
  height: 500px;
  margin: auto;
}
.workscheme-card {
  width: 260px;
  height: 320px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 0 rgba(212, 219, 225, 0.5);
          box-shadow: 0 0 10px 0 rgba(212, 219, 225, 0.5);
  padding: 20px;
}
.workscheme-card-icon {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.workscheme-card-heading {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.workscheme-card-text {
  width: 100%;
  margin-top: 20px;
}
.workscheme-card-footer {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.workscheme-card-button {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.workscheme-card .workscheme-btn-outline {
  width: 225px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d4dbe1;
  border-radius: 3px;
  font-family: OpenSans;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.workscheme-card .workscheme-btn-outline:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.workscheme-card .workscheme-btn-outline:focus {
  outline: none;
}
.workscheme-card .workscheme-btn-blue {
  width: 225px;
  height: 40px;
  background-color: #2d60d5;
  border-radius: 3px;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.workscheme-card .workscheme-btn-blue:hover {
  cursor: pointer;
  background-color: #0e3fb1;
}
.workscheme-card .workscheme-btn-blue:focus {
  outline: none;
}
.card-button {
  height: 385px;
}
@media (min-width: 1200px) {
  .wrapp-workscheme-heading {
    width: 1140px;
  }
  .workscheme {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapp-workscheme-heading {
    width: 960px;
  }
  .workscheme {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapp-workscheme-heading {
    width: 750px;
    text-align: center;
  }
  .workscheme {
    width: 750px;
    height: 800px;
  }
  .workscheme-card {
    margin: auto;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapp-workscheme-heading {
    width: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .workscheme {
    width: 500px;
    height: 1600px;
  }
  .workscheme-card {
    margin: auto;
  }
  .arow-rotate {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media (max-width: 575.98px) {
  .wrapp-workscheme-heading {
    width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .workscheme {
    margin-top: 0;
    width: 300px;
    height: 1600px;
  }
  .workscheme-card {
    margin: auto;
  }
  .arow-rotate {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.partners {
  width: 100%;
  height: 100%;
}
.partners-title {
  margin: auto;
  width: 1140px;
  margin-top: 50px;
}
.partners-slider {
  margin: auto;
  width: 1140px;
  height: 100px;
}
.sl-img {
  padding-top: 75px;
  margin: auto;
  max-width: 220px;
}
@media (min-width: 1200px) {
  .partners-slider {
    margin: auto;
    width: 1140px;
    height: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .partners-slider {
    width: 960px;
  }
  .partners-title {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .partners-slider {
    width: 750px;
  }
  .partners-title {
    width: 750px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .partners-slider {
    width: 500px;
  }
  .partners-title {
    width: 500px;
  }
}
@media (max-width: 575.98px) {
  .partners-slider {
    width: 300px;
  }
  .partners-title {
    width: 300px;
  }
}
footer {
  margin-top: 150px;
}
.wrapp-footer {
  width: 100%;
  height: 100%;
}
.footer {
  margin: auto;
  width: 1140px;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.title-footer {
  margin-bottom: 15px;
}
.link {
  padding-bottom: 10px;
}
.footerBtnSend {
  width: 200px;
  height: 50px;
  border: 1px solid #515c6b;
  border-radius: 3px;
  color: #515c6b;
  background-color: #fff;
}
.footerBtnSend:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.footerBtnSend:focus {
  outline: none;
}
@media (min-width: 1200px) {
  .footer {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer {
    width: 100%;
  }
  .footer {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    width: 750px;
  }
  .col {
    margin-top: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    width: 500px;
    margin: auto;
  }
  .col {
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .footer {
    width: 250px;
    margin: auto;
  }
  .col {
    margin-top: 20px;
  }
}
.contHeader {
  width: 100%;
  height: 100px;
  background-color: #F5F5F5;
}
.contHeader-container {
  width: 1140px;
  height: 100px;
  margin: auto;
}
.contText {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contSend {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contSendBtn {
  width: 220px;
  height: 60px;
  background-color: #2d60d5;
  border-radius: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contSendBtn:hover {
  cursor: pointer;
  background-color: #0e3fb1;
}
.contSendBtn:focus {
  outline: none;
}
.contInfo {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
.contInfo-container {
  margin: auto;
  width: 1140px;
}
.contPhones,
.contEmail,
.contLocation,
.contWorktime {
  width: 100%;
  height: 100px;
}
.contPhones-header,
.contEmail-header,
.contLocation-header,
.contWorktime-header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.contPhones-header-icon,
.contEmail-header-icon,
.contLocation-header-icon,
.contWorktime-header-icon {
  width: 40px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contPhones-header-text,
.contEmail-header-text,
.contLocation-header-text,
.contWorktime-header-text {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contPhones-body,
.contEmail-body,
.contLocation-body,
.contWorktime-body {
  width: 100%;
  height: 50px;
}
.contPhones-body-numbers,
.contEmail-body-numbers,
.contLocation-body-numbers,
.contWorktime-body-numbers {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contPhones-body-mail,
.contEmail-body-mail,
.contLocation-body-mail,
.contWorktime-body-mail {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contPhones-body-street,
.contEmail-body-street,
.contLocation-body-street,
.contWorktime-body-street {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contPhones-body-time,
.contEmail-body-time,
.contLocation-body-time,
.contWorktime-body-time {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cont-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contact-row {
  margin-top: 120px;
}
.about-text {
  margin-top: 30px;
}
.map {
  margin-top: 100px;
  height: 500px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contHeader {
    width: 100%;
    height: 100px;
    background-color: #F5F5F5;
  }
  .contHeader-container {
    width: 960px;
    height: 100px;
    margin: auto;
  }
  .contInfo {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
  .contInfo-container {
    margin: auto;
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .contHeader-container {
    width: 750px;
    height: 100px;
    margin: auto;
  }
  .contInfo-container {
    margin: auto;
    width: 750px;
  }
  #contact-row {
    margin-top: 150px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .contHeader {
    height: 150px;
  }
  .contHeader-container {
    width: 500px;
    height: 120px;
    margin: auto;
  }
  .contInfo {
    margin-top: 0;
  }
  .contInfo-container {
    margin: auto;
    width: 500px;
  }
  .contEmail {
    margin-top: 100px;
  }
  #contact-row {
    margin-top: 50px;
  }
  .cont-wrapper {
    margin: auto;
  }
  .contPhones-body-numbers,
  .contEmail-body-mail,
  .contLocation-body-street,
  .contWorktime-body-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about {
    margin-top: 50px;
  }
  .about-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 575.98px) {
  .contHeader {
    height: 200px;
  }
  .contHeader-container {
    width: 300px;
    height: 100px;
    margin: auto;
  }
  .contText {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contSend {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contInfo {
    margin-top: 0;
  }
  .contInfo-container {
    margin: auto;
    width: 300px;
  }
  .contEmail {
    margin-top: 100px;
  }
  #contact-row {
    margin-top: 50px;
  }
  .cont-wrapper {
    margin: auto;
  }
  .contPhones-body-numbers,
  .contEmail-body-mail,
  .contLocation-body-street,
  .contWorktime-body-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about {
    margin-top: 50px;
  }
  .about-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map {
    height: 300px;
  }
  footer {
    margin-top: 275px;
  }
}
.wrapp-questions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.heading {
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapp-page {
  margin: auto;
  width: 576px;
  height: 100%;
}
.page {
  padding: 30px;
  width: 576px;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.page-item {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #bdbdbd;
}
.page-item-icon {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-item-heading {
  width: 70%;
  height: 100%;
  margin-top: 20px;
}
.page-item-text {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.page-footer {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-footer-buttons {
  width: 250px;
  height: 120px;
}
.page-footer-btn {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-footer-homeLink {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text-link {
  padding-top: 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2d60d5;
}
.callUsQuestion {
  width: 240px;
  height: 60px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px;
  background-color: #2d60d5;
  border: none;
}
.callUsQuestion:hover {
  cursor: pointer;
  background-color: #0e3fb1;
}
.callUsQuestion:focus {
  outline: none;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapp-page {
    margin: auto;
    width: 425px;
    height: 100%;
  }
  .page {
    width: 425px;
  }
}
@media (max-width: 575.98px) {
  .heading {
    width: 300px;
  }
  .wrapp-page {
    margin: auto;
    width: 300px;
    height: 100%;
  }
  .page {
    width: 300px;
  }
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #202a39;
}
.title-page {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #202a39;
  font-size: 18px;
}
.title-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #202a39;
  font-size: 18px;
}
.title-product {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #202a39;
}
.title-product-furniture {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #202a39;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}
.title-product-kitchen {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #202a39;
  font-weight: 500;
  font-size: 24px;
  color: #333333;
  text-align: left;
}
.title-accordion {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
  font-size: 20px;
}
.title-card {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  color: #515c6b;
}
.subTitle-product {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
  font-size: 18px;
  color: #ffa726;
  padding-top: 12px;
}
.link-footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
}
.link-footer:hover {
  color: #2d60d5;
  text-decoration: none;
}
.link-number {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
  font-weight: 600;
  color: #202a39;
}
.link-works {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 18px;
  color: #515c6b;
  text-align: left;
}
.text-company {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-size: 16px;
}
.text-card {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
}
.text-footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
}
.text-mons {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 500;
  font-size: 18px;
}
.text-mons-white {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.text-mons-whiteSlide {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 500;
  color: #ffffff;
}
.text-mons-yellow {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 500;
  font-size: 18px;
  color: #ffa726;
}
.text-mons-menu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.text-mons-modal {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 500;
  font-size: 20px;
  color: #202a39;
}
.text-sans {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
}
.text-sans-bold {
  font-weight: 600;
}
.text-sans-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #515c6b;
  font-size: 16px;
  margin-right: 5px;
}
.text-sans-nav:hover {
  color: #2d60d5;
}
.text-sans-white {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
  color: #fff;
}
.text-sans-navSlide {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
}
.text-sans-drop {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
  font-size: 14px;
}
.text-sans-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
  font-size: 18px;
  font-weight: 600;
  color: #2d60d5;
}
.text-sans-callBack {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
  font-size: 18px;
}
.number-link {
  font-family: 'Open Ssns', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffa726;
}
.number-link:hover {
  text-decoration: none;
  color: #ffa726;
}
@media (max-width: 575.98px) {
  .text-sans-item {
    font-size: 16px;
  }
}
.wrapper-modalContacts {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.modalContacts {
  margin: auto;
  width: 300px;
  height: 600px;
  background-color: #fff;
}
.phones {
  width: 100%;
  height: 200px;
}
.phones-title {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phones-title-img {
  width: 20%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phones-title-text {
  width: 80%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phones-numbers {
  width: 100%;
  height: 150px;
}
.phones-numbers-items {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}
.email {
  width: 100%;
  height: 150px;
}
.email-title {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.email-title-img {
  width: 20%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.email-title-text {
  width: 80%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.email-post {
  width: 100%;
  height: 100px;
}
.email-post-item {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}
.location {
  width: 100%;
  height: 100px;
}
.location-title {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.location-title-img {
  width: 20%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.location-title-text {
  width: 80%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.location-street {
  width: 100%;
  height: 50px;
}
.location-street-item {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}
.worktime {
  width: 100%;
  height: 100px;
}
.worktime-title {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.worktime-title-img {
  width: 20%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.worktime-title-text {
  width: 80%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.worktime-tabl {
  width: 100%;
  height: 50px;
}
.worktime-tabl-item {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}
.btn-send {
  width: 100%;
  height: 50px;
  background-color: #2d60d5;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn-send:hover {
  cursor: pointer;
  background-color: #0e3fb1;
}
.btn-send:focus {
  outline: none;
}
.modal-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #bdbdbd;
}
label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #515c6b;
}
.position {
  width: 100%;
  height: 100%;
}
.position-title {
  margin: auto;
  width: 1140px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.position-fotorama {
  margin: auto;
  width: 60%;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .position {
    width: 100%;
    height: 100%;
  }
  .position-title {
    width: 1140px;
  }
  .position-fotorama {
    margin: auto;
    width: 60%;
    background-color: #fff;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .position {
    width: 100%;
    height: 100%;
  }
  .position-title {
    width: 960px;
  }
  .position-fotorama {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .position {
    width: 100%;
    height: 100%;
  }
  .position-title {
    width: 750px;
  }
  .position-fotorama {
    width: 60%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .position {
    width: 100%;
    height: 100%;
  }
  .position-title {
    width: 500px;
  }
  .position-fotorama {
    width: 60%;
  }
}
@media (max-width: 575.98px) {
  .position {
    width: 100%;
    height: 100%;
  }
  .position-title {
    width: 300px;
  }
  .position-fotorama {
    width: 100%;
  }
}
