.contHeader {
    width: 100%;
    height: 100px;
    background-color: #F5F5F5;
    &-container {
        width: 1140px;
        height: 100px;
        margin: auto;
    }
}
.contText {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contSend {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contSendBtn {
    width: 220px;
    height: 60px;
    background-color: @blue;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        background-color: rgb(14, 63, 177);
    }
    &:focus {
        outline: none;
    }
}

.contInfo {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    &-container {
        margin: auto;
        width: 1140px;
    }
}
.contPhones,
.contEmail,
.contLocation,
.contWorktime {
    width: 100%;
    height: 100px;
    &-header {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        &-icon {
            width: 40px;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-text {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
    &-body {
        width: 100%;
        height: 50px;
        &-numbers {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-mail {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-street {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.contEmail,
.contLocation,
.contWorktime {
    margin-top: 20px;
}



