//Mixins 
.headingMontserrat () {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: @title;
}
.baseTextMontserrat () {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.baseTextOpenSans () {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: @base-text;
}

.title {
    .headingMontserrat();
    &-page {
        .headingMontserrat();
        font-size: 18px;
    }
    &-footer {
        .headingMontserrat();
        font-size: 18px;
    }
    &-product {
        .headingMontserrat();
        &-greed {
            .headingMontserrat();
            color: #fff;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.5; 
        }
    }
}
.subTitle-product {
    .baseTextOpenSans();
    font-size: 18px;
    color: @yellow;
    padding-top: 12px;
}
.link-footer {
    .baseTextOpenSans();
    &:hover {
        color: @base-text;
    }
}
.link-number {
    .baseTextOpenSans();
    font-weight: 600;
    color: @title;
}
.text-company {
    .baseTextMontserrat();
    font-weight: 500;
    font-size: 16px;
}
.text-footer {
    .baseTextOpenSans();
}
.text-mons {
    .baseTextMontserrat();
    font-weight: 500;
    font-size: 18px;
    &-white {
        .baseTextMontserrat();
        font-weight: 500;
        font-size: 18px;
        color: #fff;
    }
    &-yellow {
        .baseTextMontserrat();
        font-weight: 500;
        font-size: 18px;
        color: @yellow;   
    }
    &-menu {
        .baseTextMontserrat();
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }
}
.text-sans {
    .baseTextOpenSans();
    &-bold {
        font-weight: 600;
    }
    &-nav {
        .baseTextOpenSans();
        font-size: 16px;
        margin-right: 5px;
    }
    &-drop {
        .baseTextOpenSans();
        font-size: 14px;
    }
}