//Mixins 
.headingMontserrat () {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: @title;
}
.baseTextMontserrat () {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.baseTextOpenSans () {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: @base-text;
}

.title {
    .headingMontserrat();
    &-page {
        .headingMontserrat();
        font-size: 18px;
    }
}

.text-company {
    .baseTextMontserrat();
    font-weight: 500;
    font-size: 16px;
}
.text-mons {
    .baseTextMontserrat();
    font-weight: 500;
    font-size: 18px;
}
.text-sans {
    .baseTextOpenSans();
    &-bold {
        font-weight: 600;
    }
    &-nav {
        .baseTextOpenSans();
        font-size: 18px;
        margin-right: 5px;
    }
}