.myNavbar {
    width: 100%;
    height: 100%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapp-company {
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.company {
    margin: auto;
    width: 1140px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.wrapp-navBlue {
    width: 100%;
    height: 70px;
    background-color: @blue;
}
.navBlue {
    margin: auto;
    width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapp-navWhite {
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.navWhite {
    margin: auto;
    width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.callUs {
    width: 240px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s;
    padding: 5px;
    background-color:@blue;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: rgb(14, 63, 177);
    }
    &:focus {
        outline: none;
    }
}
.messengers {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//dropdown
.dropbtn {
    background-color: #fff;
    border: none;
    height: 100%;
    width: 150px;
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}
.drop-arow {
    transition: all 0.3s;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn { 
    background-color: #f1f1f1;
    cursor: pointer;
}
.dropdown:hover .drop-arow {
    transition: all 0.3s;
    transform: rotate(180deg);
}           

.linksNavbar {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    a {
        text-decoration: none;
    }
    &-items {
        color: @blue;
    }
}

// Menu 

.menu-btn {
    width: 120px;
    height: 40px;
    background-color: #3C6EE2;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        background-color: rgb(14, 63, 177);
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.1s;
}
  
.sidenav a:hover {
    color: @blue;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

//Modal window Contacts 
.wrapper-modalContacts {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.modalContacts {
    margin: auto;
    width: 300px;
    height: 600px;
    background-color: #fff;
}
.phones {
    width: 100%;
    height: 200px;
    &-title {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-img {
            width: 20%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-text {
            width: 80%;
            height: 50px;
            display: flex;
            align-items: center;
        }
    }
    &-numbers {
        width: 100%;
        height: 150px;
        &-items {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            margin-left: 20%;
        }
    }
}
.email {
    width: 100%;
    height: 150px;
    &-title {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-img {
            width: 20%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-text {
            width: 80%;
            height: 50px;
            display: flex;
            align-items: center;
        }
    }
    &-post {
        width: 100%;
        height: 100px;
        &-item {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            margin-left: 20%; 
        } 
    }
}
.location {
    width: 100%;
    height: 100px;
    &-title {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-img {
            width: 20%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-text {
            width: 80%;
            height: 40px;
            display: flex;
            align-items: center;
        }
    }
    &-street {
        width: 100%;
        height: 50px;
        &-item {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            margin-left: 20%; 
        } 
    }
}
.worktime {
    width: 100%;
    height: 100px;
    &-title {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-img {
            width: 20%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-text {
            width: 80%;
            height: 40px;
            display: flex;
            align-items: center;
        }
    }
    &-tabl {
        width: 100%;
        height: 50px;
        &-item {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            margin-left: 20%; 
        } 
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

