.wrapp-questions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapp-page {
    margin: auto;
    width: 576px;
    height: 100%;
}
// page 
.page {
    padding: 30px;
    width: 576px;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    &-item {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid @borders;
        &-icon {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-heading {
            width: 70%;
            height: 100%;
            margin-top: 20px;
        }
        &-text {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    &-footer {
        margin-top: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-buttons {
            width: 250px;
            height: 120px;
        }
        &-btn {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-homeLink {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.text-link {
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: @blue;
}
.callUsQuestion {
    width: 240px;
    height: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s;
    padding: 10px;
    background-color:@blue;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: rgb(14, 63, 177);
    }
    &:focus {
        outline: none;
    } 
}

// Media 

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .wrapp-page {
        margin: auto;
        width: 425px;
        height: 100%;
    }
    .page {
        width: 425px;
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .heading {
        width: 300px;
    } 
    .wrapp-page {
        margin: auto;
        width: 300px;
        height: 100%;
    }
    .page {
        width: 300px;
    }
 }