.wrapp-questions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapp-page {
    margin: auto;
    width: 576px;
    height: 100%;
}
//beadcrumb 
.breadcrumb {
    background-color: #fff;
}
// page 
.page {
    padding: 30px;
    width: 576px;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    &-item {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid @borders;
        &-icon {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-heading {
            width: 70%;
            height: 100%;
            margin-top: 20px;
        }
        &-text {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    &-footer {
        margin-top: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-buttons {
            width: 250px;
            height: 120px;
        }
        &-homeLink {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}